/****************************************************

    Keep In Touch
    
****************************************************/

/****************************************************
    Layout
****************************************************/
.keepTouch {
  height: 38vw;
  min-height: rem(400);
  background: $brand-color-light-3;
  margin-bottom: -18.33333%; // 352/1920, i.e. aspect ratio of footer-top SVG

  @include breakpoint(large) {
    min-height: rem(550);
  }

  .keepTouch__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;
  }

  @supports (object-fit: cover) {
    background: rgba(199, 199, 215, 0.3);

    .keepTouch__bg {
      visibility: visible;
    }
  }

  .keepTouch__top {
    margin-top: -1px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/****************************************************
    Content
****************************************************/
.keepTouch {
  font-family: $display-font-stack;

  .keepTouch__heading {
    font-weight: 700;
    font-size: 2.1em;
    line-height: 1.1;
    color: $brand-color;
    letter-spacing: -0.02em;
    margin: 0 0 0.4em;
  }

  .keepTouch__content {
    font-size: 0.88em;
    line-height: 1.5;
    color: #fff;
    text-shadow: $sub-heading-shadow;
    margin: 0 0 1.7em;

    a {
      color: $brand-color;
      opacity: 0.9;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    small {
      font-size: 0.68em;
      opacity: 0.88;
      margin-left: 0.4em;
    }
  }
}

/****************************************************
    Form
****************************************************/
.keepTouch {
  .keepTouch__form {
    position: relative;
    display: flex;
    left: -0.9375rem;
    background: #fff;
    border-radius: 3rem;

    @include breakpoint(large) {
      max-width: 430px;
    }

    .keepTouch__input {
      width: 100%;
      font-size: 18px;
      line-height: 1.1;
      text-overflow: ellipsis;
      background: 0;
      padding: em(8, 18) 0 em(8, 18) 0.9375rem;
      margin: 0 3% 0 0;
      border: 0;
      border-radius: 3rem 0 0 3rem;
    }

    .keepTouch__submit {
      width: auto;
      height: 100%;
      padding: 0.9em 2em 0.8em;
      margin: 0 0 0 auto;
      white-space: nowrap;
    }

    .error {
      color: $alice-color;
      border: 1px solid $alice-color !important;
    }
  }
}
