/****************************************************
	
    Transitions
    
****************************************************/
.menu-enter {
  opacity: 0;
  transform: translateY(0.8em);
}

.menu-exit {
  opacity: 1;
  transform: translateY(0);
}

.menu-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.menu-exit-active {
  opacity: 0;
  transform: translateY(0.8em);
}

.menu-enter-active,
.menu-exit-active {
  transition: opacity 500ms, transform 500ms;
}

/***************************************************/

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

/***************************************************/

// .slide-enter {
//   opacity: 0;
//   transform: translateX(-100%);
// }

// .slide-enter-active {
//   opacity: 1;
//   transform: translateX(0);
// }

// .slide-exit {
//   opacity: 1;
//   transform: translateX(0);
// }

// .slide-exit-active {
//   opacity: 0;
//   transform: translateX(-100%);
// }

// .slide-enter-active,
// .slide-exit-active {
//   transition: opacity 300ms, transform 300ms;
// }
