/****************************************************

	Inputs

****************************************************/
label {
  font-size: 0.88em;
  color: $text-color;
}

::placeholder {
  color: #9d9b9b;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  height: auto;
  font-family: $display-font-stack;
  font-size: 16px;
  padding: 0.5rem;
  margin: 0 auto 1rem;
  box-shadow: none;
  appearance: none;
  border: 1px solid $grey-50-color;
  display: block;
  width: 100%;

  &:focus {
    background: #fff;
    border-color: #ccc;
  }
}

input[type="text"].keyword {
  padding: 0.5rem 51px 0.5rem 0.5rem;
  color: $text-color;
}

/****************************************************
	Remove Search Reset Button
****************************************************/
/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
